certifi==2024.2.2
charset-normalizer==3.3.2
colorama==0.4.6
filelock==3.14.0
fsspec==2024.5.0
huggingface-hub==0.23.1
idna==3.7
inquirerpy==0.3.4
numpy==1.26.4
onnxruntime-genai==0.3.0rc1
packaging==24.0
pfzy==0.3.4
prompt-toolkit==3.0.43
PyYAML==6.0.1
requests==2.32.2
tqdm==4.66.4
typing_extensions==4.12.0
urllib3==2.2.1
wcwidth==0.2.13
